

@{Layout="~/Views/Shared/_Layout.cshtml";}


<div class="vh-100">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-7">
                    <div class="form-input-content text-center error-page">

                        <h4><i class="fa fa-exclamation-triangle text-warning"></i> Error Crear/Editar un TipoHerramienta </h4>
                        <p>Ya exite la  TipoHerramienta, vuelva atras e intentelo de nuevo</p>
                        <div>
                           <a class="btn btn-primary" href="/TipoHerramienta/index">Volver</a>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>